<!-- Footer -->
<footer class="bg-dark text-light text-center py-4">
  <div class="container">
    <div class="row">
      <!-- Footer Links -->
      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/agribuzz" class="text-light">Home</a></li>
          <li><a href="#" class="text-light">About Us</a></li>
          <li><a href="#" class="text-light">Services</a></li>
          <li><a href="/agribuzz/contact" class="text-light">Contact Us</a></li>
        </ul>
      </div>

      <!-- Footer Contact -->
      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact</h5>
        <p>Email: AgriBuzz@gmail.com</p>
        <p>Phone: +123 456 7890</p>
        <!-- <p>Address: 123 Street, City, Country</p> -->
      </div>

      <!-- Footer Social Links -->
      <div class="col-md-4">
        <h5 class="text-uppercase">Follow Us</h5>
        <a href="#" class="text-light me-3"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-light"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <!-- Copyright -->
    <div class="mt-4">
      <p class="mb-0">&copy; 2024 AgriBuzz. All Rights Reserved.</p>
    </div>
  </div>
</footer>
