<% layout("/layouts/boilerplate")%>
<section class="conatiner">
  <div class="slider-wrapper overflow-hidden">
    <img id="slide-1" src="images/main_banner.jpg" />
    <div class="center-text">
      <b>AgriBuzz</b>
    </div>
  </div>
</section>
<section id="about-section">
  <div class="about">
    <div class="about-cont">
      <h1>About us</h1>
      <p style="font-size: 20px">
        At Agribuzz, we are revolutionizing agriculture with the power of AI and
        cutting-edge technology. Our mission is to empower farmers, agronomists,
        and agricultural businesses with the tools they need to optimize their
        operations, enhance productivity, and make data-driven decisions. We
        provide advanced solutions for weather prediction, and crop management,
        helping you stay ahead of the curve in an ever-changing environment.
        With Agribuzz, you can access real-time insights, monitor crop health,
        and receive personalized recommendations tailored to your specific
        needs. Join us on our journey to create a more sustainable, efficient,
        and resilient agricultural ecosystem. At Agribuzz, we're not just about
        farming; we're about shaping the future of agriculture.
      </p>
    </div>

    <img class="about-img" src="images/about.jpg" />
  </div>
</section>

<section id="service-section">
  <div class="services block">
    <h1 class="text-center">Services</h1>
    <br />
    <div class="container my-5">
      <!-- First Row -->
      <div class="row hidden-left">
        <div class="col-md-11 mb-4 mx-auto">
          <div class="card" style="max-width: 1200px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="/images/image-3.jpg"
                  class="img-fluid rounded-start"
                  alt="Laptop"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body" style="height: 200px">
                  <a
                    href="https://yieldpredictionmain-3.onrender.com/"
                    class="card-title d-flex align-items-center"
                  >
                    Yield Prediction
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="ms-2"
                    >
                      <line x1="7" y1="17" x2="17" y2="7"></line>
                      <polyline points="7 7 17 7 17 17"></polyline>
                    </svg>
                  </a>
                  <p class="card-text text-muted">
                    Use our Yield prediction feature to predict the yield of
                    crop with an accuracy over 90% based on weather, soil
                    conditions, and crop management.
                  </p>
                  <div class="mt-3">
                    <span class="badge bg-secondary me-2">#Yield</span>
                    <span class="badge bg-secondary me-2">#Prediction</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Second Row -->
      <div class="row hidden-right">
        <div class="col-md-11 mb-4 mx-auto">
          <div class="card" style="max-width: 1200px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="/images/about.jpg"
                  class="img-fluid rounded-start"
                  alt="Laptop"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a
                    href="https://croprecommendationmain.onrender.com/"
                    class="card-title d-flex align-items-center"
                  >
                    Crop Prediction
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="ms-2"
                    >
                      <line x1="7" y1="17" x2="17" y2="7"></line>
                      <polyline points="7 7 17 7 17 17"></polyline>
                    </svg>
                  </a>
                  <p class="card-text text-muted">
                    Use our Crop Prediction to analyze which crop is best
                    suitable for your field based on soil and weather
                    composition with over 98% accuracy.
                  </p>
                  <div class="mt-3">
                    <span class="badge bg-secondary me-2">#Crop</span>
                    <span class="badge bg-secondary me-2">#Prediction</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Third Row -->
      <div class="row hidden-left">
        <div class="col-md-11 mb-4 mx-auto">
          <div class="card" style="max-width: 1200px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://images.unsplash.com/photo-1522199755839-a2bacb67c546?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJsb2d8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60"
                  class="img-fluid rounded-start"
                  alt="Laptop"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title d-flex align-items-center">
                    Plant Disease Prediction
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="ms-2"
                    >
                      <line x1="7" y1="17" x2="17" y2="7"></line>
                      <polyline points="7 7 17 7 17 17"></polyline>
                    </svg>
                  </h5>
                  <p class="card-text text-muted">
                    Predict plant diseases by analyzing photos of plant leaves
                    and forecast the likelihood of disease occurrence.
                  </p>
                  <div class="mt-3">
                    <span class="badge bg-secondary me-2">#Plant</span>
                    <span class="badge bg-secondary me-2">#Disease</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const rows = document.querySelectorAll(".row");

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            if (entry.target.classList.contains("hidden-left")) {
              entry.target.classList.remove("hidden-left");
              entry.target.classList.add("slide-in-left");
            } else if (entry.target.classList.contains("hidden-right")) {
              entry.target.classList.remove("hidden-right");
              entry.target.classList.add("slide-in-right");
            }
          } else {
            if (entry.target.classList.contains("slide-in-left")) {
              entry.target.classList.remove("slide-in-left");
              entry.target.classList.add("hidden-left");
            } else if (entry.target.classList.contains("slide-in-right")) {
              entry.target.classList.remove("slide-in-right");
              entry.target.classList.add("hidden-right");
            }
          }
        });
      },
      {
        threshold: 0.1,
      }
    );

    rows.forEach((row) => {
      observer.observe(row);
    });
  });
</script>
